<!DOCTYPE html>
html(lang="en")
    head
        
        style
            include literal.css
       
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Page
    body
 
        h1 what would you like to do?

        ul
            li 
                <a href="./search.pug">Search users</a>
            li
                <a href="./search.pug">Create users</a>
            li
                <a href="./search.pug">Modify users</a>
            li 
                <a href="./search.pug">Delete users</a>