<!DOCTYPE html>
html(lang="en")
    head
        
        style
            include styles.css
       
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Page
    body
 
        h1 What would you like to do?

        ul
            li 
                <a href="/search">Search users</a>
            li
                <a href="/create">Create users</a>
            li
                <a href="/modify">Modify users</a>
            li 
                <a href="/delete">Delete users</a>
            li
                <a href="/dump">Dump Database to file</a>