<!DOCTYPE html>
html(lang="en")
    head
        
        style
            include styles.css
       
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Page
    body
 
        h1 Invalid Input
        p Please check your input and try again.

