html {
    background-color: rgb(54, 57, 63);
    
}

h1, h2 {
    color: lightblue;
}

thead {
    background-color: #7E98FA;
}

tbody {
    background-color: rgb(69, 72, 78);
    color:#AEAEB0;
}

footer {
    background-color: #7E98FA;
    min-height: 30px;
}

nav {
    background-color: #26262B;
    min-height: 10px;

}

a {
    color: grey;
}